body {
	font-family: sans-serif;
	background: rgba(0,0,0);
}
div{
  width: 100%;

}
div h1 {
	color: rgba(0,0,0);
	text-align: center;
}
img{
  width: 300px;
}
#horizontal_gallery ul {
	list-style:none;
	margin: 0 auto;
	padding: 0;
	display: block;
	max-width: 780px;
	text-align: center;
}
#horizontal_gallery ul li {
	display: inline-block;
	padding: 8px;
	background:white;
	margin:10px;
}
#horizontal_gallery ul li img {
	display: block;
}
#stand_alone_image{
  text-align: center;

}

#vertical_gallery{
  text-align: center;
  background: rgba(0,0,0);
}
#vertical_gallery ul{
  text_align: center;
	list-style:none;
}

#vertical_gallery ul li {
  margin-bottom: 30px;

}

#overlay{
  background:rgba(0,0,0,0.8);
  width: 100%;
  height: 220%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  text-align: center;
}

#overlay img{
 width: 60%;
 margin-top: 30%;
}
#overlay p {
  font-style: italic;
  color: white;
